@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://bootswatch.com/4/slate/bootstrap.min.css" rel="stylesheet" type="text/css">



    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .usernamealign {
            text-align: center;
            margin-left: 2em;
            margin-top: 1em;
        }
    </style>

</head>

<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Blog Post</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link"href="@Url.Action("Index","Home")">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AddBlogPost","Home")">Add Blog Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("EditProfile","Home")">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ViewBadWords","Home")">View Bad Words</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register", "Home")">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-nav usernamealign">@Context.Session.GetString("UserFirstName")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <div class="container" style="padding-top:5em;">

        @RenderBody()
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2018 - Dale McNiece</p>
            <p class="m-0 text-center text-white">mcni0028@algonquinlive.com</p>
            <p class="m-0 text-center text-white">040665447</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
